/* MAIN CONTAINER */
.products-page-container {
  padding: 120px 120px;
  background: #e7e8e88e;
}

/* HERO SECTION */
.products-page-hero {
  text-align: center;
  margin-bottom: 60px;
}

.products-page-subtitle {
  color: #0ab3b4;
  font-weight: 600;
  font-size: 2rem;
  font-family: "Montserrat";
}

.products-page-title {
  font-size: 3rem;
  font-weight: 700;
  color: #04356d;
  margin: 12px 0;
}

.products-page-description {
  max-width: 700px;
  margin: auto;
  font-size: 1.2rem;
  color: #555;
  font-family: "Montserrat";
}

/* CATEGORY TITLE */
.products-category-title {
  margin: 40px 0 20px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #04356d;
}

/* GRID */
.products-page-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 24px;
}

/* CARD */
.products-page-card {
  background: #fff;
  padding: 50px 25px;
  border-radius: 16px;
      box-shadow: -1px 1px 2px 0px rgb(88 88 88 / 13%);
  transition: 0.3s ease;
}

.products-page-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}

/* ICON */
.products-page-icon {
  width: 65px;
  height: 65px;
  object-fit: contain;
  margin-bottom: 16px;
}

/* CARD TITLE */
.products-page-card-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #04356d;
  margin-bottom: 10px;
}

/* CARD DESC */
.products-page-card-desc {
  font-size: 0.95rem;
  color: #000000;
  margin-bottom: 18px;
  font-family: "Montserrat";
}

/* BUTTON */
.products-page-btn {
  background: #00807b;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.products-page-btn:hover {
  background: #03998e;
}
