/* ===============================
   PAGE WRAPPER
================================ */
.services-page-container {
  width: 100%;
  padding-top: 120px;
  background: #e9eaeb;
  font-family: "Inter", sans-serif;
}

/* ===============================
   HERO SECTION
================================ */
.services-page-hero {
  text-align: center;
  padding: 20px 80px;
  margin-bottom: 40px;
}

.services-page-subtitle {
  color: #000000;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Montserrat";
}

.services-page-title {
      font-size: 2.9rem;
    font-weight: 700;
    color: #00255d;
    max-width: 900px;
    margin: 0 auto 15px auto;
    line-height: 1.3;
    font-family: "Inter", sans-serif;
}

.services-page-description {
  font-size: 1rem;
  color: #333;
  max-width: 780px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

/* ===============================
   GRID OF CARDS
================================ */
.services-page-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 100px 50px;
  padding: 40px 100px;
}

/* ===============================
   SERVICE CARD
================================ */
.services-page-card {
 background: #ffffff;
    border-radius: 16px;
    padding: 26px;
    box-shadow: -9px 10px 12px 5px rgb(49 45 45 / 26%);
    transition: 0.3s ease;
    position: relative;
  /* padding-bottom: 80px; */
}

.services-page-card:hover {
  transform: translateY(-6px);
}

/* ICON */
.services-page-icon {
    width: 98px;
    position: absolute;
    right: 22px;
    top: -48px;
    border: 8px solid #e9eaeb;
    border-radius: 50%;
}

/* TITLE */
.services-page-card-title {
      font-size: 2.1rem;
    font-weight: 700;
    color: #002b5c;
    margin-bottom: 25px;
    max-width: 300px;
}

/* DESC */
.services-page-card-desc {
    font-family: "Montserrat";
    font-size: 1rem;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.4;
    max-width: 350px;
    font-weight: 500;
}
/* Read More Button */
.services-page-btn {
      background: #00807b;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-family: "Montserrat";
    transition: 0.3s;
    font-weight: 500;
    font-size: 0.95rem;
}

.services-page-btn:hover {
  background: #00255d;
}

/* ===============================
   RESPONSIVE
================================ */
@media (max-width: 768px) {
  .services-page-title {
    font-size: 2rem;
  }
  
  .services-page-grid {
    padding: 20px 30px;
  }
}
